@font-face {
   font-family: 'Engineering';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-16_093839/fonts/Engineering/font.ttf');
}
